*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

header{
   background: rgb(70,130, 180);
}

ul{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 max-width: 1200px;
 margin: 0 auto;
 background-color: rgb(241, 219, 12);
 height: 50px;
}

li{
  list-style: none;
  color: #fff;
  margin-left: 20px;
}

li:hover{
   color:antiquewhite;
   cursor: pointer;
}

main{
    height: 250vh;
    background: rgb(49, 41, 41);
    padding-top: 200px;
}

h1{
  color: rgb(255, 255, 255);
  font-size: 60px;
  text-align: center;
  margin-bottom: 75px;
}

p{color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 200px;
}

.logo{
  flex: 1 1 auto;
}

.after{
position: relative;
padding-right: 20px;
}

.after::after{
  content:"";
  width: 20px;
  height: 20px;
  background: url(../img/sketch-1655898876832.svg) no repeat center;
  position: absolute;
  top: center;
  right: 0;
}

h2{
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

h4{
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}

h5{
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

h6{
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  margin-top: 17px;
}
